<!-- <div class="main center">
  <div class="title-div">
    <h3>Angular Form Test</h3>
  </div>

  <div class="main-form-div">
    <div class="input">
      <mat-form-field appearance="standard" class="name-field">
        <mat-label class="author-input">Book Name</mat-label>
        <input
          matInput
          placeholder="Ex. Harry Potter and the Chamber of Secrects"
          [ngModel]="BookName"
          isRequired
        />
      </mat-form-field>
    </div>

    <div class="input">
      <mat-form-field class="author-field" appearance="fill">
        <mat-label>Author</mat-label>
        <input matInput placeholder="Ex. J.K Rowlling" [ngModel]="Author" />
      </mat-form-field>
    </div>

    <div>
      <mat-checkbox> check me </mat-checkbox>
    </div>

    <div>
      <button class="button" (click)="button()" extended>
        Submit
      </button>
    </div>
  </div>
</div> -->
<div>
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username" (input)="onInput()">
      <mat-error *ngIf="form.get('username')?.hasError('required') && form.get('username')?.touched">
        Username is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password" (input)="onInput()">
      <mat-error *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched">
        Password is required
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onFormSubmit()">Submit</button>
  </form>
</div>
